body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
}
  .app {
    padding-top: 80px;
    min-height: 100vh;
    background-color: #141414;
  }

  .movie-grid {
    margin-left: 60px;
    padding: 20px;
  }
